body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: cornflowerblue;
  position: relative;
  height: 100vh;
}
.container {
  display: inline-block;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-column {
  width: 40%;
  display: inline-block;
  background-color: blue;
  background-image: url(../img/hill.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 30px;
  color: white;
}
h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;
}
.left-column > div {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
}
.left-column > div > span {
  margin: 0;
}
.left-column > div > a {
  color: #fff;
  text-decoration: underline;
}

.right-column {
  width: 60%;
  float: right;
  padding: 60px;
  background-color: #fff;
  position: relative;
}
.close {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 57px;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}
.close:hover {
  color: #015cda;
}
form {
  display: inline-block;
  width: 100%;
}
.form-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.form-row:last-of-type {
  margin-bottom: 0;
}
label {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
}
input {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-bottom: 2px solid #ccc;
}
button {
  float: left;
  padding: 10px 35px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 20px;
  background-color: #015cda;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

span {
  float: left;
  padding: 5px;
  line-height: 20px;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}
a {
  float: left;
  padding: 5px;
  line-height: 20px;
  font-size: 18px;
  color: #015cda;
  text-decoration: none;
  font-weight: 500;
}

/* 
jei vaikai vienas kito atzvilgiu bando floatint, tai reik pasakyt kad tevas inline-block
jei vaikai bando floating - tevas praranda auksti, tevas saugus tik jei turi inline-block savybe
kablelis atskiria kelis selektorius tam paciam stiliui
* reiskia betkas arba viskas body * -> visi elementai esantys bodyje; > reiskia kad norima tiesioginio vaiko
box-sizing: border-box; read about it vs content-box
teve enter: 
susikurt galima savo toki trumpini
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
border radius - puse elemento aukscio viso (border, padding, line height)
font weight: bold 700; normal 400;
kuo maziau srifto variaciju, tuo greiciau projektas veikia

text vidurys yra 55% nuo virsaus, 45% nuo apacios

POSITIONING
position: relative; --> atskaitos taskas  absolutui, jo ieskoti paciam artimiausiam teviniam elemente, kurio dimensions sutampa
bottom ir left reiksmes yra visada labiau prioritetines nei right ir bottom. taip pat plotis ir aukstis yra virsesnes reiksmes nei pozicionavimo reiksmes
visi elementai by default yra static

reliatyvus keliai
./ ei i folderi; ../ eiti is folderio

CENTER POSITION
tevas:
position: relative;
height: 100vh; view height - monitoriaus aukstis, narsykles. tai 10% darbines teritorijos aukscio
vaikas:
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
  

*/
