body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: inline-block;
  width: 800px;
  background-color: red;
  margin-left: calc((100% - 800px) / 2);
  margin-top: 100px;
}
.left-column {
  width: 40%;
  float: left;
  background-color: blue;
}
.right-column {
  width: 60%;
  float: left;
  padding: 60px;
  background-color: yellow;
}
.close {
}

/* 
jei vaikai vienas kito atzvilgiu bando floatint, tai reik pasakyt kad tevas inline-block
jei vaikai bando floating - tevas praranda auksti, tevas saugus tik jei turi inline-block savybe

kablelis atskiria kelis selektorius tam paciam stiliui
* reiskia betkas arba viskas body * -> visi elementai esantys bodyje; > reiskia kad norima tiesioginio vaiko

box-sizing: border-box; read about it vs content-box

teve enter

*/
